<div class="container">

    <div class="row">

        <div class="col s12">

            <div class="card purple darken-4">

                <div class="card-content white-text">

                    <span class="card-title center-align">
                        
                        TODOS

                    </span>

                    <div class="collection">

                        <div class="collection-item">

                            <div class="input-field ">

                                <i class="black-text material-icons prefix fa fa-chevron-down"></i>
                                <input type="text" placeholder="hola">

                            </div>

                        </div>

                        <div class="collection-item">

                            <p>

                                <label>
                                    <input type="checkbox" checked/>
                                    <span class="blue-grey-text lighten-2 text-line-through">Buy a unicorn</span>
                                </label>

                            </p>
        
                        </div>

                        <div class="collection-item">

                            <p>

                                <label>
                                    <input type="checkbox"/>
                                    <span class="black-text">Buy a unicorn</span>
                                </label>

                            </p>

                        </div>

                    </div>

                </div>

                <div class="card-action white-text">
                    <div class="row m-0">
                        <div class="col s4 center-align">
                            <span class="cursor-pointer">0 item left</span>
                        </div>
                        <div class="col s4 center-align">
                            <span class="mr-3 ml-3 cursor-pointer active">All</span>
                            <span class="mr-3 ml-3 cursor-pointer">Active</span>
                            <span class="mr-3 ml-3 cursor-pointer">Completed</span>
                        </div>
                        <div class="col s4 center-align">
                            <span class="cursor-pointer">Clear Completed</span>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>